body{
    background-color:lightpink;
}
.section{
    background-color: beige;
    width: 80%;
    margin: 0 auto;
}
.container{
    padding: 30px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.input-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input{
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 50px;
}
.input:focus{
    outline: none;
}


/* java side */
.menu-filter-wraper li.hide{
    display: none;
}
.meal-div{
    margin: 0 auto;
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meal-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.meal-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}