body{
    background-color:lightpink;
}
.section{
    background-color: beige;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

/* javascript side */
.meal-div{
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meal-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.meal-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}